<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>My summary</title>
        <link type="text/css" rel="stylesheet" href="/static/index.css"
        media="all">

</head>
<body>
<div class="container">

    <h1>Резюме</h1>
    <img src="/media/FOTO.jpg" class="img-thumbnail" alt="" width="200" height="200">
<dl class="row">
  <dt class="col-sm-3">Личная информация</dt>
  <dd class="col-sm-9">
    <p>Ковалевский Юрий Михайлович </p>
    <p>г.Минск, ул.Кижеватова 80-1-82</p>
  </dd>

  <dt class="col-sm-3">Образование</dt>
  <dd class="col-sm-9">
    <p>Минский Государственный Высший Радиотехниеский Колледж 2008-2012</p>
    <p>Специальность - Программное обеспечение информационных технологий </p>
      <p>Инжинер Программист</p>
  </dd>

  <dt class="col-sm-3">Хобби и увленеие</dt>
  <dd class="col-sm-9">Автомобили, автоспорт, фото, музыка.</dd>

  <dt class="col-sm-3 text-truncate">Опыт работы</dt>
  <dd class="col-sm-9">
    <p>2010-2013 "Ормиз-Авто" - "Менеджер"</p>
    <p>2013-2014 "БелСтаб" - "Специалит по обслужванию, менеджер"</p>
      <p>2014 по Н.В. "Еврозапчать" - "Специалист по продажам"</p>
  </dd>

    </dl>
  </dd>

</dl>
    <h1>Обратная связь</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Адрес электронной почты</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Сообщение</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Откликнуться</button>

</form>
</div>
</body>
</html>