{% extends "base.html" %}

{% block content %}
  <div class="products">
    <h1 class="my-4">SHOP</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-4 post-item">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                Cost: {{ product.cost}}$
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}